node_modules
dist
docs/public
todo.md
.DS_Store
screenshots
mochawesome-report
.vscode/

*.pem
*.pfx
*.crt
*.key
*.b64
cypress.json
cypress.env.json
test-sample/
doctor-sample/
cypress/screenshots
cypress/videos
cypress/results
cypress/reports